.btr{
	font-family:Garamond;
	color:982176;
	padding:5px 15px;
	text-decoration: none;
	font-size:27px;
}
.btr:hover{
	text-decoration-line: underline;  
}
a.btr:focus{
	text-decoration-line: underline;
	color:#1A5D1A;
}

a.btr:active{
	text-decoration-line: underline;
}
.tdp{
	font-family:Garamond;
	color: 7D1935;
	padding:10px;
	text-decoration: none;
	font-size:28px;
}
.tp{
	font-family:Garamond;
	font-size:25px;
	width:255px;
}

